.Rproj.user
.Rhistory
.RData
.Ruserdata

# Prevent users to commit their own .RProj
*.Rproj

# Temporary files
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

# Prevent users to commit the README files created by RStudio
*README.html
*README_cache/
#*README_files/
